/*General Reset*/
* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#profile-section {
  background-color: rgb(245, 245, 245);
}

#profile-section h1 {
  text-align: center;
  padding: 10px;
}

/*Navbar*/
nav {
  text-align: center;
}

nav ul {
  text-decoration: none;
}

nav ul li {
  margin: 4px 10px;
  padding: 6px 10px;
  background-color: white;
  text-decoration: none;
}

nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 12px;
  padding: 10px;
}
/*   end of navbar   */
/*Profile section*/

#profile-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-container {
  padding: 35px 45px 25px 45px;
}

.profile-image {
  max-width: 100%;
}

.bio {
  padding: 0px 19px;
  padding-bottom: 35px;
  text-align: center;
}
/*   end of profile section   */
/*Portfolio section*/
.portfolio-title {
  text-align: center;
  padding: 50px;
  text-transform: uppercase;
  font-size: 14px;
}

#portfolio-section {
  text-align: center;
}

#portfolio-section img {
  max-width: 90%;
}
#portfolio-section h2 {
  padding: 17px;
  font-weight: 400;
  font-size: 20px;
}

#portfolio-section p {
  padding: 0px 15px 35px 22px;
}

#last-text {
  margin: 0px 5px 0px 0px;
}

/*   end of portfolio section   */
/*Contact section*/
#contact-section {
  text-align: center;
  background-color: rgb(245, 245, 245);
}

#contact-section h2 {
  text-transform: uppercase;
  font-size: 16px;
  padding: 30px;
}

#contact-section p {
  padding: 0px 20px;
  padding-bottom: 23px;
}

#contact-section p span {
  font-weight: bold;
}

#contact-section p:last-child {
  padding-bottom: 65px;
}
/*   end of contact section   */
/*Footer*/
.footer-nav {
  display: none;
}

footer {
  background-color: rgb(245, 245, 245);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid rgb(212, 212, 212);
  margin-left: 10px;
  margin-right: 10px;
}

.footer-container h2 {
  padding: 25px 3px;
  font-size: 12px;
}
.footer-container h2 a {
  color: black;
  text-decoration: none;
}
/*                                              END OF MOBILE DESIGN                                                */
@media screen and (min-width: 768px) {
  nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }
  nav ul li {
    background-color: rgb(245, 245, 245);
  }
  .profile-container {
    display: flex;
    justify-content: center;
    margin: 30px 12px 0px 0px;
  }

  .profile-image {
    margin: 0px;
  }

  .img-container {
    flex: 1;
    order: 1;
    padding: 0;
    padding-bottom: 50px;
    margin-right: 20px;
  }

  .bio-container {
    flex: 1.5;
    padding-right: 20px;
  }

  .bio {
    font-size: 18px;
    text-align: left;
    padding: 0;
    padding-right: 55px;
    padding-left: 20px;
    height: 100%;
  }

  #portfolio-section {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 20px 0px 20px;
  }

  .project {
    width: 50%;
  }

  #portfolio-section img {
    max-width: 97%;
  }

  #portfolio-section p {
    padding: 0px 30px 50px 50px;
  }

  #last-text {
    margin: 0px 15px 0px 2px;
  }

  #contact-section p {
    padding: 12px 165px;
    padding-bottom: 23px;
  }

  #contact-section p:last-child {
    padding-top: 0px;
  }

  .back-to-top {
    display: none;
  }

  .footer-nav {
    display: flex;
  }

  .footer-nav li {
    margin: 0px 0px 0px 0px;
    padding: 25px 3px;
  }
  .footer-nav li a {
    padding-top: 0px;
  }
}

@media screen and (min-width: 1024px) {
  .title-nav {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 28px;
  }
  nav li a {
    font-weight: bold;
  }

  .bio {
    padding: 10px 100px 10px 42px;
    margin: 0px 0px 0px 0px;
  }

  .project {
    max-width: 33%;
  }

  #portfolio-section p {
    padding: 0px 0px 50px 33px;
  }

  .project-left {
    background-color: blue;
  }

  #travel-app-text {
    margin: 0px 35px 0px 0px;
  }

  #photo-gal-text {
    margin: 0px 9px 0px 0px;
  }

  #contact-section p {
    padding: 12px 291px;
  }
}
